<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Get all countries paginate</title>
    <body>
        <form method="get" accept-charset="UTF-8" action="/setCapital">
            <div style="text-align: center;"><h2>Set Capital for a country</h2></div>
            <div style="text-align: center;">
                Country <select name="country">
                    <option th:each="country : ${countriesListsResponse}" th:value="${country}" th:text="${country}"></option>
                </select>
                Capital <input th:type="text" th:name="capital" th:valuetype="java.String">
                <input th:type="submit" th:value="Invia">
            </div>
        </form>
        <br/><br/>
        <div  style="text-align: center;" th:if="${messageResponse != null}">
            <div  style="text-align: center;" th:if="${messageResponse.isError() == true}">
                <p th:text="'Error: ' + ${messageResponse.isError()} + '!'"/>
            </div>
            <p th:text="${messageResponse.getMessage()} + '!'"/>
        </div>
    </body>
</html>